<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">NuGet Packages</a></li>
		        	<li><a href="/FAQs">About</a></li>
	        		<li><a href="/code">CV</a></li>
	        		<li><a href="/post question">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:">email</a></li>
	        		<li><a href="https://github.com/UniversityOfAppliedSciencesFrankfurt/LearningApi">https://github.com/UniversityOfAppliedSciencesFrankfurt/LearningApi</a></li>
				</ul>
			</footer>
		</body>
	</html>
